<div style="background-color: darkblue;">
  <div style="background-color:rgb(169, 169, 169);">
    <div style="padding: 1em;">
     
    
    <button mat-button [matMenuTriggerFor]="aboveMenu">Peliculas</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="belowMenu">Series</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="beforeMenu">Anime</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="beforeMenu">Favorito</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="beforeMenu">Genero</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    
    <button mat-button [matMenuTriggerFor]="afterMenu">Todos</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="afterMenu">Ordenar Por</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="afterMenu">Popularidad</button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
    
  </div>
  <div style="background-color: darkorchid;"></div>

</div>
<div style="background-color: midnightblue;">
   <div style="background-color: darkslategray;">
   <span style="color: white;"><mat-icon aria-hidden="false" aria-label="Example home icon" >home</mat-icon> </span> 
  </div>
   

</div>

                 <!--Busqueda crear -->
<div>
  <input type ="text" class ="form-control" placeholder="Buscar...">
</div>
 
    <div class="contenedor">
      <div *ngFor="let card of cards">
          <mat-card class="example-card" style="padding: 10% ;">
              <mat-card-header>
                 <!-- <div mat-card-avatar class="example-header-image"></div>icono-->
                  <mat-card-title>{{card.title}}</mat-card-title>
                 <!--<mat-card-subtitle>{{card.description}}</mat-card-subtitle> descripcion opcionalk de la movie-->
              </mat-card-header>
              <img mat-card-image class="img" src={{card.img}} alt="Photo of a Shiba Inu">
              <mat-card-content>
                  <p>
                    {{card.year}}
                  </p>
              </mat-card-content>
<!--<mat-card-actions>
                  <button mat-button>{{card.buttonText}}</button>
                  <button mat-button>SHARE</button>
              </mat-card-actions> compartir botones -->
          </mat-card>
      </div>
  </div>
    
    

  

