 <!--Busqueda crear -->
 <form>

    <div class="form-group"> 
      <div class="input-group">
        <div class="input-group-text bg-white">
          <span style="color: rgb(75, 3, 3);"><mat-icon aria-hidden="false" aria-label="Example home icon" >home</mat-icon> </span> 
        </div>
        <input type="text" class="form-control" [(ngModel)]="filtroMovie" name="filtroMovie" placeholder="Buscar...">
      </div>
    
    </div>
    
    
    </form>

<div class="contenedor">
 <div *ngFor="let card of movies ">
<mat-card class="example-card" style="padding: 10% ;">
<mat-card-header>
   <!-- <div mat-card-avatar class="example-header-image"></div>icono-->
    <mat-card-title>{{card.original_title}}</mat-card-title>
   <!--<mat-card-subtitle>{{card.description}}</mat-card-subtitle> descripcion opcionalk de la movie-->
</mat-card-header>
<img mat-card-image class="img" src={{card.poster_path}} alt="bat">
<mat-card-content>
    <p>
      {{card.release_date}}
    </p>
</mat-card-content>
<!--<mat-card-actions>
    <button mat-button>{{card.buttonText}}</button>
    <button mat-button>SHARE</button>
</mat-card-actions> compartir botones -->
</mat-card>
</div>
</div>

